# PANDAS OPERACIONES ENTRE COLUMNAS

#### IMPORTAMOS LAS LIBRERIAS NECESARIA

In [1]:
import os
import pandas as pd
import numpy as np

#### LEEMOS LA TABLA EN FORMATO CSV Y VISUALIZAMOS

In [2]:
datos_df=pd.read_csv("C:/visual_studio/datos_csv/TABLA_PRUEBA.csv") 

print(datos_df)

      NOMBRE  NACIMIENTO   ACT
0     RAFAEL        1971  2021
1       JOSE        1981  2021
2     MAGALY        1986  2021
3    ROSARIO        1956  2021
4      LIGIA        1940  2021
5     RAQUEL        1935  2021
6  ENRIQUETA        1983  2021

#### SOBRE EL MISMO DATA FRAME datos_df AGREGAMOS LA COLUMNA EDAD CUYOS VALORES DEPENDE DE LA FORMULA "ACT"-"NACIMIENTO", AMBOS DE LA TABLA datos_df. Por ultimo visualizamos los datos

In [3]:
datos_df['EDAD']=(datos_df['ACT'])-(datos_df['NACIMIENTO'])
print(datos_df)

      NOMBRE  NACIMIENTO   ACT  EDAD
0     RAFAEL        1971  2021    50
1       JOSE        1981  2021    40
2     MAGALY        1986  2021    35
3    ROSARIO        1956  2021    65
4      LIGIA        1940  2021    81
5     RAQUEL        1935  2021    86
6  ENRIQUETA        1983  2021    38